@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	padding: 3rem 0;
	background: linear-gradient(135deg, #65799b 0%, #5e2563 100%);
	background-repeat: no-repeat;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
